<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <%=sampleunitref.upcase %>
<% end %>

<% if form.failed_on? :sampleunitref %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please enter a valid reference</p>
  <% end %>
<% end %>

<% if sampleunits.any? %>
<% content_for :sub_heading do %>
  Click to view cases for a sample unit ref.
<% end %>
  <table class="primary">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sample Unit Type</th>
        <th>Trading Style</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% if sampleunits['attributes']['entname1'].present? %>
          <td><%=h sampleunits['attributes']['entname1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if sampleunits['sampleUnitType'].present? %>
          <td><%=h sampleunits['sampleUnitType'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if sampleunits['attributes']['tradstyle1'].present? %>
          <td><%=h sampleunits['attributes']['tradstyle1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      <td><a href="/addresses/<%=h sampleunits['id'] %>/cases">View Cases</a></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p id="information"><strong>There are no businesses for this reference.</strong></p>
<% end %>
