<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<%=h postcode %>
<% end %>

<% if addresses.any? %>
<% content_for :sub_heading do %>
  Click to view cases for an address.
<% end %>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <table class="primary">
    <thead>
      <tr>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>Postcode</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% addresses.each_with_index do |address, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <% if address['line1'].present? %>
          <td><%=h address['line1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['line2'].present? %>
          <td><%=h address['line2'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['townName'].present? %>
          <td><%=h address['townName'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['postcode'].present? %>
          <td><%=h address['postcode'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['type'].present? %>
        <td><%=h address['type'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabtype'].present? %>
        <td><%=h address['estabtype'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><a href="/addresses/<%=h address['uprn'] %>/cases">View Cases</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<% else %>
  <p id="information"><strong>There are no addresses for this postcode.</strong></p>
<% end %>
