<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <%=h sampleunitref %> &gt; Cases
<% end %>

<% if sampleunit.any? %>
<% content_for :sub_heading do %>
  Click a case to review.
<% end %>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sample Unit Type</th>
      <th>Trading Name</th>
    </tr>
  </thead>
  <tbody>
      <% if sampleunit['attributes']['name'].present? %>
        <td><%=h sampleunit['attributes']['name'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if sampleunit['sampleUnitType'].present? %>
        <td><%=h sampleunit['sampleUnitType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if sampleunit['attributes']['tradingName'].present? %>
        <td><%=h sampleunit['attributes']['tradingName'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
  </tbody>
</table>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Telephone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% if respondent['firstName'].present? %>
        <td><%=h respondent['firstName'] %> <%=h respondent['lastName'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if respondent['emailAddress'].present? %>
        <td><%=h respondent['emailAddress'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if respondent['telephone'].present? %>
        <td><%=h respondent['telephone'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><a href="/respondents/<%=h respondent['id'] %>">Edit</a></td>
    </tr>
  </tbody>
</table>

<% content_for :footer do %>
  <h3>Cases</h3>

  <% if cases.any? %>
    <%= will_paginate cases, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Case Status</th>
          <th>Case Created</th>
          <th>Sample Unit Type</th>
          <th>Respondent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% cases.each_with_index do |kase, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <% if kase['state'].present? %>
          <td><%=h kase['state'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% if kase['createdDateTime'].present? %>
          <td><%=h kase['createdDateTime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if kase['sampleUnitType'].present? %>
          <td><%=h kase['sampleUnitType'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if kase['respondent'].present? %>
          <td><%=h kase['respondent'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><a href="/sampleunitref/<%=h sampleunitref %>/cases/<%=h kase['id'] %>/events">View</a></td>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate cases, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
    <p id="information"><strong>There are no cases for this address.</strong></p>
  <% end %>
<% end %>
<% else %>
  <p id="information"><strong>There are no businesses for this reference.</strong></p>
<% end %>
