<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <a href="/postcodes/<%=url_format postcode %>"><%=h postcode %></a> &gt; Cases
<% end %>

<% content_for :sub_heading do %>
  Click a case to create or view questionnaires.
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

  <table class="primary" style="margin-top: 0px; width: 100%">
    <thead>
      <tr>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>Postcode</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
      <% if address['line1'].present? %>
          <td><%=h address['line1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['line2'].present? %>
          <td><%=h address['line2'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['townName'].present? %>
          <td><%=h address['townName'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['postcode'].present? %>
          <td><%=h address['postcode'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['type'].present? %>
        <td><%=h address['type'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabtype'].present? %>
        <td><%=h address['estabtype'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
    </tbody>
  </table>

<% content_for :footer do %>
  <h3>Cases</h3>

  <% if cases.any? %>
    <%= will_paginate cases, :class => 'secondarypagination', :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Case Status</th>
          <th>Case Created</th>
          <th>Question Set</th>
          <th>Survey Description</th>
          <th>Sample Name</th>
        </tr>
      </thead>
      <tbody>
      <% cases.each_with_index do |kase, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <td><a href="/cases/<%=h kase['caseId'] %>"><%=h kase['caseId'] %></a></td>
        <% if kase['state'].present? %>
          <td><%=h kase['state'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% if kase['createdDateTime'].present? %>
          <td><%=h kase['createdDateTime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if kase['questionSet'].present? %>
          <td><%=h kase['questionSet'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if kase['surveyDescription'].present? %>
          <td><%=h kase['surveyDescription'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if kase['name'].present? %>
          <td><%=h kase['name'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate cases, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
    <p id="information"><strong>There are no cases for this address.</strong></p>
  <% end %>
<% end %>
