<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <%=h collectionexercise['name'] %> &gt; Collection Exercise
<% end %>

<table class="primary">
  <thead>
    <tr>
      <th>Collection Exercise Name</th>
      <th>Scheduled Execution Date</th>
      <th>Scheduled Start Date</th>
    </tr>
  </thead>
  <tbody>
      <% if collectionexercise['name'].present? %>
        <td><%=h collectionexercise['name'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if collectionexercise['scheduledExecutionDateTime'].present? %>
        <td><%=h collectionexercise['scheduledExecutionDateTime'].to_notime_date %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if collectionexercise['scheduledStartDateTime'].present? %>
        <td><%=h collectionexercise['scheduledStartDateTime'].to_notime_date %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>Action Plans</h3>

<% if actionplans.any? %>
  <table class="secondary">
    <thead>
      <tr>
        <th>Action Plan Name</th>
        <th>Sample Unit Type</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% actionplans.each_with_index do |actionplan, i| %>
      <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <% if actionplan['name'].present? %>
          <td><%=h actionplan['name'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      <% if actionplan['sampleUnitType'].present? %>
        <td><%=h actionplan['sampleUnitType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if actionplan['description'].present? %>
        <td><%=h actionplan['description'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><a href="/schedule/actionplan/<%=h actionplan['actionPlanId'] %>">View</a></td>
      </tr>
    <% end %>
      </tbody>
    </table>
<% else %>
  <p id="information"><strong>There are no action plans for this collection exercise.</strong></p>
<% end %>
