<%= erb :menu, locals: { pageid: 'manage' } %>

<% content_for :breadcrumbs do %>
<a href="/manage">Manage</a> &gt; <%=h title %>
<% end %>

<% if escalations.any? %>
  <%= will_paginate escalations, :class => 'secondarypagination', :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <table class="secondary">
    <thead>
      <tr>
        <th>Case ID</th>
        <th>Action State</th>
        <th>Action Created</th>
      </tr>
    </thead>
    <tbody>
    <% escalations.each_with_index do |kase, i| %>
      <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <td><a href="/cases/<%=h kase['caseId']%>/uprn/<%=h kase['uprn']%>/sample/<%=h kase['sampleId']%>"><%=h kase['caseId'] %></a></td>
      <% if kase['state'].present? %>
        <td><%=h kase['state'].capitalize %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if kase['createdDateTime'].present? %>
        <td><%=h kase['createdDateTime'].to_date %></td>
      <% else %>
        <td>-</td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate escalations, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<% else %>
  <p id="information"><strong>There are no escalated cases.</strong></p>
<% end %>
