<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <a href="/postcodes/<%=url_format postcode %>"><%=h postcode %></a> &gt; <a href="/addresses/<%=h uprn %>/cases">Cases</a> &gt; <a href="/cases/<%=h case_id %>">Case <%=h case_id %></a> &gt; Create Event
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css">
<% end %>

<% content_for :javascript do %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  <script src="/javascripts/events.js" type="text/javascript"></script>
<% end %>

<% if form.failed_on? :eventtext %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Description is required</p>
  <% end %>
<% end %>

<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>a
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>

  <fieldset>
  <% if method == :post %>
    <p><label for="eventtext">Description (max 250 characters)</label> <span class="required">*</span></p>
    <textarea autofocus rows="10" cols="50" id="eventtext" name="eventtext" maxlength="250" value="<%=h eventtext %>"></textarea>
    <span id="chars">250</span> characters remaining
  <% end %>

    <p><label for="customertitle">Title</label></p>
    <select name="customertitle" id="customertitle">
      <option value="">Select Title:</option>
      <option value="mr">Mr</option>
      <option value="mrs">Mrs</option>
      <option value="miss">Miss</option>
      <option value="ms">Ms</option>
      <option value="dr">Dr</option>
      <option value="prof">Prof.</option>
      <option value="rev">Rev.</option>
      <option value="sir">Sir</option>
      <option value="capt">Capt.</option>
      <option value="lady">Lady</option>
      <option value="lord">Lord</option>
    </select>

    <p><label for="customerforename">Forename</label></p>
    <input type="text" id="customerforename" name="customerforename" size="51" maxlength="40" value="<%=h customerforename %>">

    <p><label for="customersurname">surname</label></p>
    <input type="text" id="customersurname" name="customersurname" size="51" maxlength="40" value="<%=h customersurname %>">

    <p><label for="customercontact">Phone Number</label></p>
    <input type="text" id="customercontact" name="customercontact" size="51" maxlength="40" value="<%=h customercontact %>">

    <p><label for="eventcategory">Category</label> <span class="required">*</span></p>
    <p>
      <select id="eventcategory" name="eventcategory">
       <% categories.each do |category| %>
        <% if category['manual'] %>
          <% if eventcategory == category['name'] %>
            <option value='<%=h category['name'] %>' selected><%=h category['longDescription'] %></option>
            <% else %>
            <option value='<%=h category['name'] %>'><%=h category['longDescription'] %></option>
          <% end %>
        <% end %>
      <% end %>
    </select>
    </p>
  </fieldset>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/cases/<%=h case_id %>/uprn/<%=h uprn %>/sample/<%=h sample_id %>/event?page=<%=h params[:page] %>"><% else %><a href="/cases/<%=h case_id %>"><% end %>Cancel</a>
  </p>
</form>
