<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%=h title %> - Response Operations</title>
    <link rel="stylesheet" href="/css/reset.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/grids.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/screen.css" media="screen" type="text/css">
    <%= yield_content :stylesheet %>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/search.js" type="text/javascript"></script>
    <%= yield_content :javascript %>
  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <img id="onslogo" src="/images/onslogo.gif" alt="ONS logo">
        <h2><span class="heavy">Response</span>Operations</h2>
        <div id="menucontainer">
          <ul id="menu">
            <%= yield_content :menu %>
          </ul>
          <div id="postcodesearch">
            <input id="sampleunitref" type="text" size="17" maxlength="16" placeholder="Enter Reference">
          </div>
        <% if session[:user] %>
          <div id="signoutlink">
            <a href="/signout">Sign out</a>
          </div>
        <% end %>
        </div>
        <p id="breadcrumbs">
          <%= yield_content :breadcrumbs %>
        </p>
        <h1><%=h title %></h1>
      <% if content_for? :sub_heading %>
        <p class="subhead">
          <%= yield_content :sub_heading %>
        </p>
      <% end %>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
        <% [:error, :notice].each do |key| %>
          <% if flash[key] %>
            <p class="message"><%= flash[key] %></p>
          <% end %>
        <% end %>
        <%= yield_content :form_errors %>
            <%= yield %>
          </div> <!-- .yui-b -->
        </div> <!-- #yui-main -->
      </div> <!-- #bd -->
    </div> <!-- #doc.yui-t7 -->
  </body>
</html>
