<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
<a href="/">Home</a> &gt; <a href="/postcodes/<%=url_format postcode %>"><%=h postcode %></a> &gt; <a href="/addresses/<%=h uprn %>/cases">Cases</a> &gt; <a href="/cases/<%=h case_id %>/uprn/<%=h uprn %>/sample/<%=h sample_id %>">Case <%=h case_id %></a> &gt; Request Individual Form
<% end %>

<% if form.failed_on? :actionplanradio %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please Select Option</p>
  <% end %>
<% elsif form.failed_on? :customertitle %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please Select Customer Title</p>
  <% end %>
<% elsif form.failed_on? :customerforename %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please enter Customer Forename</p>
  <% end %>
<% elsif form.failed_on? :customersurname%>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please enter Customer surname</p>
  <% end %>
<% elsif form.failed_on? :phonenumber %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Please enter a valid Phone Number</p>
  <% end %>
<% end %>

<table class="primary">
  <thead>
    <tr>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>Town</th>
      <th>Postcode</th>
      <th>Address Type</th>
      <th>Establishment Type</th>
    </tr>
  </thead>
  <tbody>
    <tr class="even">
    <% if address['line1'].present? %>
        <td><%=h address['line1'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <% if address['line2'].present? %>
      <td><%=h address['line2'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <% if address['townName'].present? %>
      <td><%=h address['townName'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <% if address['postcode'].present? %>
      <td><%=h address['postcode'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <% if address['type'].present? %>
      <td><%=h address['type'].to_address_type %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <% if address['estabtype'].present? %>
      <td><%=h address['estabtype'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
  </tr>
  </tbody>
</table>

<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>a
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>

  <fieldset>
    <% if actionplanmappings.any? %>
      <table class="secondary" style="width: 60%;">
        <thead>
          <tr>
            <th></th>
            <th>Response Mode</th>
            <th>Delivery Mode</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
        <% actionplanmappings.each_with_index do |actionplanmapping, i| %>
          <% if type == 'iac' %>
            <% if !actionplanmapping['isDefault'] && actionplanmapping['inboundChannel'] == 'ONLINE'%>
              <tr class="<%= i.even? ? 'even' : 'odd ' %>">
                <td style ="width: 10px">
                <% if actionplanmappingid.to_i == actionplanmapping['actionPlanMappingId'].to_i %>
                  <input type="radio" checked id='regular' name="actionplanradio" value="<%=h actionplanmapping['actionPlanMappingId'] %>"></td>
                <% else %>
                  <input type="radio" id='regular' name="actionplanradio" value="<%=h actionplanmapping['actionPlanMappingId'] %>"></td>
                <% end %>
                </td>
                <% if actionplanmapping['inboundChannel'].present? %>
                  <td><%=h actionplanmapping['inboundChannel'].capitalize %></td>
                <% else %>
                  <td>-</td>
                <% end %>
                <% if actionplanmapping['outboundChannel'].present? %>
                  <% if actionplanmapping['outboundChannel'] == 'POST' %>
                    <td><%=h actionplanmapping['outboundChannel'].capitalize %></td>
                  <% else %>
                    <td><%=h actionplanmapping['outboundChannel'] %></td>
                  <% end %>
                <% else %>
                  <td>-</td>
                <% end %>
                <% if actionplanmapping['variant'].present? %>
                  <td><%=h actionplanmapping['variant'].capitalize %></td>
                <% else %>
                  <td>-</td>
                <% end %>
              </tr>
            <% end %>
        </tbody>
      </table>
    <% end %>

    <p><label for="customertitle">Title</label><span class="required">*</span></p>
    <select style="background:white" name="customertitle" id="customertitle">
      <option value="">Select Title</option>
      <% if customertitle == 'mr' %>
        <option value='mr' selected>Mr</option>
      <% else %>
        <option value='mr'>Mr</option>
      <% end %>

      <% if customertitle == 'mrs' %>
        <option value='mrs' selected>Mrs</option>
      <% else %>
        <option value='mrs'>Mrs</option>
      <% end %>

      <% if customertitle == 'miss' %>
        <option value='miss' selected>Miss</option>
      <% else %>
        <option value='miss'>Miss</option>
      <% end %>

      <% if customertitle == 'ms' %>
        <option value='ms' selected>Ms</option>
      <% else %>
        <option value='ms'>Ms</option>
      <% end %>

      <% if customertitle == 'dr' %>
        <option value='dr' selected>Dr</option>
      <% else %>
        <option value='dr'>Dr</option>
      <% end %>

      <% if customertitle == 'prof' %>
        <option value='prof' selected>Prof.</option>
      <% else %>
        <option value='prof'>Prof.</option>
      <% end %>

      <% if customertitle == 'rev' %>
        <option value='rev' selected>Rev.</option>
      <% else %>
        <option value='rev'>Rev.</option>
      <% end %>

      <% if customertitle == 'sir' %>
        <option value='sir' selected>Sir</option>
      <% else %>
        <option value='sir'>Sir</option>
      <% end %>

      <% if customertitle == 'capt' %>
        <option value='capt' selected>Capt.</option>
      <% else %>
        <option value='capt'>Capt.</option>
      <% end %>

      <% if customertitle == 'lady' %>
        <option value='lady' selected>Lady</option>
      <% else %>
        <option value='lady'>Lady</option>
      <% end %>

      <% if customertitle == 'lord' %>
        <option value='lord' selected>Lord</option>
      <% else %>
        <option value='lord'>Lord</option>
      <% end %>
    </select>

    <p><label for="customerforename">Forename</label><span class="required">*</span></p>
    <input type="text" id="customerforename" name="customerforename" size="51" maxlength="40" value="<%=h customerforename %>">

    <p><label for="customersurname">Surname</label><span class="required">*</span></p>
    <input type="text" id="customersurname" name="customersurname" size="51" maxlength="40" value="<%=h customersurname %>">

    <p><label for="phonenumber">Phone Number</label></p>
    <input type="text" id="phonenumber" name="phonenumber" size="51" maxlength="40" value="<%=h phonenumber %>">

  </fieldset>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/cases/<%=h case_id %>/uprn/<%=h uprn %>/sample/<%=h sample_id %>/childform?page=<%=h params[:page] %>"><% else %><a href="/cases/<%=h case_id %>/uprn/<%=h uprn %>/sample/<%=h sample_id %>"><% end %>Cancel</a>
  </p>
</form>
