<%= erb :menu, locals: { pageid: 'reports' } %>

<% content_for :breadcrumbs do %>
  <a href="/reports">Reports</a> &gt; <%=h type_format(report_type) %>
<% end %>

<% if report_details.any? %>
  <% content_for :sub_heading do %>
    Use the links below to either download a report or view in your browser.
  <%end%>

  <%= will_paginate report_details, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <br>
  <table class="primary" style="margin-top: 0px; width: 100%">
    <thead>
      <tr>
        <th>Reports</th>
      </tr>
    </thead>
    <tbody>
    <% report_details.each_with_index do |detail, i| %>
      <tr class="<%= i.even? ? 'even' : 'odd ' %>">
      <% if detail['id'].present? %>
        <td><%=h detail['createdDateTime'].to_report_date%></td>
        <td><a href="/reports/view/<%=h report_class%>/<%=h detail['id']%>">View</a></td>
        <td><a href="/reports/download/<%=h report_class%>/<%=h detail['id']%>">Download</a></td>
      <% else %>
        <td>-</td>
      <% end %>
    <%end%>
    </tbody>
  </table>

  <%= will_paginate report_details, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>

<% else %>
  <p id="information"><strong> No reports found for type <%=h type_format(report_type)%>. </strong></p>
<%end%>
