<%= erb :menu, locals: { pageid: 'home' } %>

<% if sampleunit.any? %>
  <% content_for :breadcrumbs do %>
  <a href="/">Home</a> &gt; <%=h sampleunit['attributes']['entname1']%>
  <% end %>

  <h3>Reporting Unit</h3>

  <dl>

        <dt>RU Reference</dt>
        <dd><%=h sampleunitref %></dd>

        <dt>Name</dt>
        <% if sampleunit['attributes']['entname1'].present? %>
          <dd><strong><%=h sampleunit['attributes']['entname1'] %></strong></dd>
        <% else %>
          <dd>-</dd>
        <% end %>

        <dt>Trading name</dt>
        <% if sampleunit['attributes']['name'].present? %>
          <dd><%=h sampleunit['attributes']['name'] %></dd>
        <% else %>
          <dd>-</dd>
        <% end %>

  </dl>




  <h3>Respondents</h3>

  <% if respondents.any? %>

        <% respondents.each_with_index do |respondent, i| %>
        <dl>

          <dt>Name</dt>
        <% if respondent['firstName'].present? %>
          <dd><b><%=h respondent['firstName'] %> <%=h respondent['lastName'] %></b>
            <% if respondent['status'] == 'ENABLED' %>
          <br/>
          <a href="/sampleunitref/<%=h sampleunitref %>/cases/<%= respondent['partyId'] %>/events">View respondent events</a>
            <% end %>
          </dd>
        <% else %>
          <dd>-</dd>
        <% end %>

        <dt>Enrolment state</dt>
        <% if respondent['status'].present? %>
          <dd>
          <%= respondent['status'] %>
          </dd>
        <% else %>
            <dd>-</dd>
        <% end %>

          <dt>Email address</dt>
        <% if respondent['emailAddress'].present? %>
          <dd><%=h respondent['emailAddress'] %>
            <br/>
            <a href="/sampleunitref/<%=h sampleunitref %>/cases/<%=h case_id %>/events/<%=h respondent['id'] %>/update">Edit email address</a>
            <br/>
            <a class="confirm-resend-v-email" href="/sampleunitref/<%=h sampleunitref %>/cases/<%=h case_id %>/events/<%=h respondent['id'] %>/resend_verification_code">Resend verification email</a>
          </dd>
        <% else %>
          <dd>-</dd>
        <% end %>

          <dt>Telephone</dt>
        <% if respondent['telephone'].present? %>
          <dd><%=h respondent['telephone'] %></dd>
        <% else %>
          <dd>-</dd>
        <% end %>

          <dt>Case reference</dt>
        <% if caseref.present? %>
            <dd><%=h caseref %></dd>
        <% else %>
            <dd>-</dd>
        <% end %>

          <dt>Secure messages</dt>
          <dd>
        <% if respondent['status'] == 'ENABLED' %>
            <a href="<%=h respondent['url'] %>">Create secure message</a>
        <% else %>
            Not available
        <% end %>
          </dd>

        </dl>
        <% end %>

  <% else %>
    <p id="information"><strong>There are no Respondents for this Reporting Unit.</strong></p>
  <% end %>

  <% content_for :footer do %>

    <h3>Events</h3>

    <% if events.any? %>
      <%= will_paginate events, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
      <table class="secondary">
        <thead>
          <tr>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Event Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% events.each_with_index do |events, i| %>
          <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <% if events['createdDateTime'] %>
            <td><%=h events['createdDateTime'].to_date %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if events['createdBy'] %>
            <td><%=h events['createdBy'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if events['categoryName'] %>
            <td><%=h events['categoryName'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if events['description'] %>
            <td><%=h events['description'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate events, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>

    <% content_for :footer do %>
      <h3>Actions</h3>
    <% if actions.any? %>
      <table class="secondary">
        <thead>
          <tr>
            <th>Action ID</th>
            <th>Action Type</th>
            <th>Created By</th>
            <th>State</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
        <% actions.each_with_index do |action, i| %>
          <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <% if action['actionId'] %>
            <td><%=h action['actionId'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if action['actionTypeName'] %>
            <td><%=h action['actionTypeName'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if action['createdBy'] %>
            <td><%=h action['createdBy'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if action['state'] %>
            <td><%=h action['state'].to_title_case %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if action['createdDateTime'] %>
            <td><%=h action['createdDateTime'].to_date %></td>
          <% else %>
            <td>-</td>
          <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p id="information"><strong>There are no actions for this reporting unit.</strong></p>
    <% end %>
    <% end %>
    <% else %>
      <p id="information"><strong>There are no events for this reporting unit.</strong></p>
    <% end %>
  <% end %>
<% else %>
  <p id="information"><strong>There are no matching reporting units.</strong></p>
<% end %>
