<%= erb :menu, locals: { pageid: 'respondent' } %>

<% if from_respondent %>
  <% content_for :breadcrumbs do %>
  <a href="/">Home</a> &gt; <a href="/sampleunitref/<%=h sampleunitref %>/cases"><%=h sampleunit['attributes']['entname1']%></a> &gt; <a href="/sampleunitref/<%=h sampleunitref %>/cases/<%=h respondent_id %>/events"><%=h respondent['firstName'] %> <%=h respondent['lastName'] %></a> &gt; Update Email
  <% end %>
<% else %>
  <% content_for :breadcrumbs do %>
  <a href="/">Home</a>  &gt; <a href="/sampleunitref/<%=h sampleunitref %>/cases"><%=h sampleunit['attributes']['entname1']%></a> &gt; Update Email
  <% end %>
<% end %>

  <% content_for :sub_heading do %>
    Amend the email address for Respondent <%=h respondent['firstName'] %> <%=h respondent['lastName'] %>
  <%end%>

  <p>Current email address: <%= respondent['emailAddress'] %></p>
  <br>
  <form action="/sampleunitref/<%=h sampleunitref %>/cases/<%=h case_id %>/events/update" method="post">
    <fieldset>
      <p>New email address:</p>
      <input type="email" id="email_address" name="email_address" value="">
    </fieldset>
    <p class="buttons">
      <input class="button" type="submit" value="Save"> or <a href="<%=h previous_page_url %>">Cancel</a>
      <input hidden id="previous_page_url" name="previous_page_url" value="<%=h previous_page_url %>">
    </p>
  </form>
