<%= erb :menu, locals: { pageid: 'respondent' } %>

<% content_for :breadcrumbs do %>
Respondent
<% end %>

  <% content_for :sub_heading do %>
    Amend the email address for Respondent <%=h respondent['firstName'] %> <%=h respondent['lastName'] %>
  <%end%>

  <p>Current email address: <%= respondent['emailAddress'] %></p>
  <br>
  <form action="/sampleunitref/<%=h sampleunitref %>/cases/<%=h case_id %>/events/update" method="post">
    <fieldset>
      <p>New email address:</p>
      <input type="email" id="email_address" name="email_address" value="">
    </fieldset>
    <p class="buttons">
      <input class="button" type="submit" value="Save"> or <a href="/sampleunitref/<%=h sampleunitref %>/cases">Cancel</a>
    </p>
  </form>
