<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <li id="active"><a href="/regions">Addresses</a></li>
<% if authorised? %>
  <li><a href="/manage">Manage</a></li>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; MSOA <%=h msoa_code %>
<% end %>

<% content_for :sub_heading do %>
  Click an Address ID to view questionnaires for that address.
<% end %>

<% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses"><% end %>Refresh</a>

<%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<% addresses.each do |address| %>
  <table class="address">
    <thead>
      <tr>
        <th>UPRN</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
        <th>Hard to Count</th>
        <th>Easting</th>
        <th>Northing</th>
        <th>Manager</th>
        <th>Telephone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h address['uprn'] %>/questionnaires"><%=h address['uprn'] %></a></td>
      <% if address['addresstype'].present? %>
        <td><%=h address['addresstype'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabtype'].present? %>
        <td><%=h address['estabtype'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['htc'].present? %>
        <td><%=h address['htc'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['eastings'].present? %>
        <td><%=h address['eastings'] %></td>
      <% else %>
        <td-</td>
      <% end %>
      <% if address['northings'].present? %>
        <td><%=h address['northings'] %></td>
      <% else %>
        <td-</td>
      <% end %>
      <% if address['namemanager'].present? %>
        <td><%=h address['namemanager'].to_title_case %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['telnumber'].present? %>
        <td><%=h address['telnumber'].to_phone_number %></td>
      <% else %>
        <td>-</td>
      <% end %>
        <td><% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%= msoa_code %>/addresses/<%=h address['uprn'] %>/edit?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%= msoa_code %>/addresses/<%=h address['uprn'] %>/edit"><% end %>Edit</a></td>
      </tr>
    </tbody>
    <%= erb :addresslines_partial, locals: { address: address } %>
  </table>
<% end %>
<%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
