<tbody>
  <tr>
    <td><%=h address['uprn'] %></td>
  <% if address['addressType'].present? %>
    <td><%=h address['addressType'].to_address_type %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['eastings'].present? %>
    <td><%=h address['eastings'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['northings'].present? %>
    <td><%=h address['northings'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['addressLine1'].present? %>
    <td><%=h address['addressLine1'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  </tr>
</tbody>
