<% content_for :menu do %>
  <li id="active"><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>



<% content_for :sub_heading do %>
  Click an Address ID to view questionnaires for that address.
<% end %>


<% if addresses.any? %>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<% addresses.each do |address| %>
  <table class="address">
    <thead>
      <tr>
        <th>UPRN</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/regions/<%=h address['regionCode'] %>/las/<%=h address['ladCode'] %>/msoas/<%=h address['msoaArea'] %>/addresses/<%=h address['uprn'] %>/cases"><%=h address['uprn'] %></a></td>
      <% if address['addressType'].present? %>
        <td><%=h address['addressType'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabType'].present? %>
        <td><%=h address['estabType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
        <td><% if params[:page].present? %><a href="/regions/<%=h address['regionCode'] %>/las/<%=h address['ladCode'] %>/msoas/<%= address['msoaArea'] %>/addresses/<%=h address['uprn'] %>/edit?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h address['regionCode'] %>/las/<%=h address['ladCode'] %>/msoas/<%= address['msoaArea'] %>/addresses/<%=h address['uprn'] %>/edit"><% end %>Edit</a></td>
      </tr>
    </tbody>
    <%= erb :addresslines_partial, locals: { address: address } %>
  </table>
<% end %>
<% else %>
  <p id="information"><strong>There are no addresses for this postcode.</strong></p>
<% end %>
