<fieldset>
  <table>
    <tbody>
      <tr>
        <td><label for="addresstype">Address Type</label> <span class="required">*</span></td>
        <td><label for="category">Establishment Type</label></td>
      </tr>
      <tr>
        <td>
          <select id="addresstype" name="addresstype" tabindex="1">
          <% if addresstype == 'CE' %>
            <option value="CE" selected="selected">Communal Establishment</option>
            <option value="HH">Household</option>
            <option value="I">Individual</option>
          <% elsif addresstype =='HH' %>
            <option value="CE">Communal Establishment</option>
            <option value="HH" selected="selected">Household</option>
            <option value="I">Individual</option>
          <% elsif addresstype == 'I' %>
            <option value="CE">Communal Establishment</option>
            <option value="HH">Household</option>
            <option value="I" selected="selected">Individual</option>
          <% end %>
          </select>
        </td>
        <td><input id="category" name="category" type="text" size="2" tabindex="6" value="<%=h category %>"></td>
      </tr>
      <tr>
        <td><label for="eastings">Easting</label> <span class="required">*</span></td>
        <td><label for="northings">Northing</label> <span class="required">*</span></td>
      </tr>
      <tr>
        <td><input id="eastings" name="eastings" type="number" tabindex="2" value="<%=h eastings %>"></td>
        <td><input id="northings" name="northings" type="number" tabindex="7" value="<%=h northings %>"></td>
      </tr>
      <tr>
        <td><label for="address_line1">Address Line 1</label></td>
        <td><label for="address_line2">Address Line 2</label> <span class="required">*</span></td>
      </tr>
      <tr>
        <td><input id="address_line1" name="address_line1" type="text" size="60" tabindex="3" value="<%=h address_line1 %>"></td>
        <td><input id="address_line2" name="address_line2" type="text" size="60" tabindex="8" value="<%=h address_line2 %>"></td>
      </tr>
      <tr>
        <td><label for="town_name">Town Name</label></td>
        <td><label for="postcode">Postcode</label> <span class="required">*</span></td>
      </tr>
      <tr>
        <td><input id="town_name" name="town_name" type="text" size="30" tabindex="4" value="<%=h town_name %>"></td>
        <td><input id="postcode" name="postcode" type="text" size="8" tabindex="9" value="<%=h postcode %>"></td>
      </tr>
      <tr>
        <td><label for="hardtocount">Hard to Count</label> <span class="required">*</span></td>
      </tr>
      <tr>
        <td>
          <select id="hardtocount" name="hardtocount" tabindex="5">
          <% if hardtocount.to_s == '1' %>
            <option selected="selected">1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          <% elsif hardtocount.to_s == '2' %>
            <option>1</option>
            <option selected="selected">2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          <% elsif hardtocount.to_s == '3' %>
            <option>1</option>
            <option>2</option>
            <option selected="selected">3</option>
            <option>4</option>
            <option>5</option>
          <% elsif hardtocount.to_s == '4' %>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option selected="selected">4</option>
            <option>5</option>
          <% elsif hardtocount.to_s == '5' %>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option selected="selected">5</option>
          <% end %>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
