<tbody class="addresslines">
<% if address['buildingname'].present? %>
  <tr>
    <td colspan="10"><%=h address['buildingname'].to_title_case %></td>
  </tr>
<% end %>
<% if address['subbuildingname'].present? %>
  <tr>
    <td colspan="10"><%=h address['subbuildingname'].to_title_case %></td>
  </tr>
<% end %>
<% if address['buildingnumber'].present? || address['thoroughfarename'].present? %>
  <tr>
    <td colspan="10"><% if address['buildingnumber'].present? %><%=h address['buildingnumber'] %><% end %> <% if address['thoroughfarename'].present? %><%=h address['thoroughfarename'].to_title_case %><% end %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="10"><%=h address['posttown'].to_title_case %></td>
  </tr>
  <tr>
    <td colspan="10"><%=h address['postcode'] %></td>
  </tr>
</tbody>
