<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li id="active"><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :sub_heading do %>
  Click an Address ID to view cases for that address.
<% end %>

<% if addresses.any? %>
<%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <table class="address">
    <thead>
      <tr>
        <th></th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>Postcode</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
      </tr>
    </thead>
    <tbody>
      <% addresses.each_with_index do |address, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <td><a href="/regions/<%=h address['regionCode'] %>/las/<%=h address['ladCode'] %>/msoas/<%=h address['msoaArea'] %>/addresses/<%=h address['uprn'] %>/cases">view cases</a></td>
        <% if address['addressLine1'].present? %>
          <td><%=h address['addressLine1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['addressLine2'].present? %>
          <td><%=h address['addressLine2'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['town'].present? %>
          <td><%=h address['town'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['postcode'].present? %>
          <td><%=h address['postcode'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['addressType'].present? %>
        <td><%=h address['addressType'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabType'].present? %>
        <td><%=h address['estabType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
  <p id="information"><strong>There are no addresses for this postcode.</strong></p>
  <% end %>
