<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <li id="active"><a href="/regions">Addresses</a></li>
  <li><a href="/manage">Manage</a></li>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <% if method.eql? :post %>Create Address<% elsif method.eql? :put %>Edit Address<% end %>
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/address.js" type="text/javascript"></script>
<% end %>

<% if form.failed_on? :eastings %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Easting is required and must be a 6 character number</p>
  <% end %>
<% end %>

<% if form.failed_on? :northings %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Northing is required and must be a 6 character number</p>
  <% end %>
<% end %>

<% if form.failed_on? :estabtype %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Establishment type is required for communal establishments and must be a number</p>
  <% end %>
<% end %>

<% if form.failed_on? :postcode %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Postcode is required</p>
  <% end %>
<% end %>

<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>
<%= erb :addressform_partial, locals: { addresstype: addresstype, eastings: eastings, northings: northings, address_line1: address_line1, address_line2: address_line2,
                                        estabtype: estabtype, hardtocount: hardtocount, town_name: town_name,  postcode: postcode } %>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses"><% end %>Cancel</a>
  </p>
</form>
