<tbody>
  <tr>
    <td><%=h address['uprn'] %></td>
  <% if address['type'].present? %>
    <td><%=h address['type'].to_address_type %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['eastings'].present? %>
    <td><%=h address['eastings'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['northings'].present? %>
    <td><%=h address['northings'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if address['line1'].present? %>
    <td><%=h address['line1'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  </tr>
</tbody>
