<%= erb :menu, locals: { pageid: "addresses" } %>

<% unless authorised?("collect-csos") %>
  <% content_for :breadcrumbs do %>
    <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases">Address <%=uprn_code %></a> &gt; Case <%=h caseid %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

  <table class="primary" style="margin-top: 0px; width: 100%">
    <thead>
      <tr>
        <th>UPRN</th>
        <th>Address Type</th>
        <th>Easting</th>
        <th>Northing</th>
        <th>Address Line 1</th>
      </tr>
    </thead>
    <%= erb :address_partial, locals: { address: address } %>
    <%= erb :addresslines_partial, locals: { address: address } %>
  </table>


<table class="secondary">
  <thead>
    <tr>
      <th>Case ID</th>
      <th>Case Status</th>
      <th>Case Type</th>
      <th>Case Created</th>
      <th>Sample ID</th>
      <th>Question Set</th>
    </tr>
  </thead>
  <tbody>

  <tr class="even">
    <td><%=h uniqueCase['caseId'] %></td>
  <% if uniqueCase['state'].present? %>
    <td><%=h uniqueCase['state'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
  <% if uniqueCase['caseTypeId'].present? %>
    <td><%=h uniqueCase['caseTypeId'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['createdDatetime'].present? %>
    <td><%=h uniqueCase['createdDatetime'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['sampleId'].present? %>
    <td><%=h uniqueCase['sampleId']  %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['questionSet'].present? %>
    <td><%=h uniqueCase['questionSet'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  </tr>
  </tbody>
</table>

<% content_for :footer do %>
  <h3>Questionnaires</h3>
  <div id="newquestionnaire">
    <form action="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/cases/<%=h caseid %>/questionnaires/new" method="get">
      <input class="button" type="submit" value="Create Questionnaire&hellip;"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/cases/<%=h caseid %>/questionnaires?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/cases/<%=h caseid %>/questionnaires"><% end %>Refresh</a>
    <% if params[:page].present? %>
      <input type="hidden" name="page" value="<%=h params[:page] %>">
    <% end %>
    </form>
  </div>

  <% if questionnaires.any? %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Questionnaire ID</th>
          <th>Questionnaire Status</th>
          <th>Dispatch Date</th>
          <th>Response Date</th>
          <th>Receipt Date</th>
          <th>Question Set</th>
          <th>IAC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% questionnaires.each_with_index do |questionnaire, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h caseid %>/questionnaires/<%=h questionnaire['questionnaireId'] %>/iac/<%=h questionnaire['iac'] %>"><%=h questionnaire['questionnaireId'] %></a></td>
        <% if questionnaire['questionnaireStatus'] %>
          <td <%=h questionnaire['questionnaireStatus'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['dispatchDateTime'] %>
          <td><%=h questionnaire['dispatchDateTime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['responseDateTime'] %>
          <td><%=h questionnaire['responseDateTime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['receiptDateTime'] %>
          <td><%=h questionnaire['receiptDateTime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['questionSet'] %>
          <td><%=h questionnaire['questionSet'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['iac'] %>
          <td><%=h questionnaire['iac'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
          <td><% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/case/<%=h caseid %>/questionnaires/<%=h questionnaire['questionnaireId'] %>/iac/<%=h questionnaire['iac']%>/edit?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/case/<%=h caseid %>/questionnaires/<%=h questionnaire['questionnaireId'] %>/iac/<%=h questionnaire['iac'] %>/edit"><% end %>Edit</a></td>
        </tr>
      <% end %>
        </tbody>
      </table>
  <% else %>
    <p id="information"><strong>There are no questionnaires for this address.</strong></p>
  <% end %>
<% end %>
