<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <li id="active"><a href="/regions">Addresses</a></li>
  <li><a href="/manage">Manage</a></li>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; LA <%=h local_authority_code %>
<% end %>

<% content_for :sub_heading do %>
  Click a caseload to view its addresses, or click Review to review any address notes for that caseload.
<% end %>

<%= will_paginate caseloads, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<table class="caseloads">
  <thead>
    <tr>
      <th>Caseload</th>
      <th>Review Address Notes</th>
    </tr>
  </thead>
  <tbody>
  <% caseloads.each_with_index do |caseload, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd ' %>">
    <% caseload.each do |key, code| %>
      <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/caseloads/<%=h code %>/addresses"><%=h code %></a></td>
      <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/caseloads/<%=h code %>/addresses/review">Review</a></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= will_paginate caseloads, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
