<%= erb :menu, locals: { pageid: "addresses" } %>

<% unless authorised?("collect-csos") %>
  <% content_for :breadcrumbs do %>
    <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases">Address <%=uprn_code %></a> &gt; Case <%=h caseid %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

  <table class="primary" style="margin-top: 0px; width: 100%">
    <thead>
      <tr>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>Postcode</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
      <% if address['line1'].present? %>
          <td><%=h address['line1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['line2'].present? %>
          <td><%=h address['line2'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['town'].present? %>
          <td><%=h address['town'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['postcode'].present? %>
          <td><%=h address['postcode'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['type'].present? %>
        <td><%=h address['type'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabType'].present? %>
        <td><%=h address['estabType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
    </tbody>
  </table>

<table class="secondary">
  <thead>
    <tr>
      <th>Case ID</th>
      <th>Case Status</th>
      <th>Case Type</th>
      <th>Case Created</th>
      <th>Question Set</th>
      <th>Survey Description</th>
      <th>Sample Name</th>
      <th>Questionnaires</th
    </tr>
  </thead>
  <tbody>

  <tr class="even">
    <td><%=h uniqueCase['caseId'] %></td>
  <% if uniqueCase['state'].present? %>
    <td><%=h uniqueCase['state'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
  <% if uniqueCase['caseTypeId'].present? %>
    <td><%=h uniqueCase['caseTypeId'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['createdDatetime'].present? %>
    <td><%=h uniqueCase['createdDatetime'].to_date %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['questionSet'].present? %>
    <td><%=h uniqueCase['questionSet'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if survey['description'].present? %>
    <td><%=h survey['description'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if sample['name'].present? %>
    <td><%=h sample['name'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
    <td><% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/cases/<%=h uniqueCase['caseId'] %>/questionnaires?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/cases/<%=h uniqueCase['caseId'] %>/questionnaires"><% end %>View Questionnaires</a></td>
  </tr>
  </tbody>
</table>

<% content_for :footer do %>
  <h3>Events</h3>
  <br>
  <div id="events">
    <form action="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h caseid %>/event/new" method="get">
      <% if uniqueCase['state'] != 'CLOSED' %>
      <input class="button" type="submit" value="Create Event&hellip;" > or <% if params[:actionpage].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires?page=<%=h params[:actionpage] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h caseid %>"><% end %>Refresh</a>
      <% else %>
      <input class="button" type="submit" value="Case Closed&hellip;" disabled> or <% if params[:actionpage].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires?page=<%=h params[:actionpage] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h caseid %>"><% end %>Refresh</a>
      <% end %>
    <% if params[:actionpage].present? %>
      <input type="hidden" name="page" value="<%=h params[:actionpage] %>">
    <% end %>
    </form>
  </div>

  <% if events.any? %>
  <%= will_paginate events, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Case Event ID</th>
          <th>Created Date</th>
          <th>Created By</th>
          <th>Event Category</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% events.each_with_index do |events, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <% if events['caseEventId'] %>
          <td><%=h events['caseEventId'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if events['createdDatetime'] %>
          <td><%=h events['createdDatetime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if events['createdBy'] %>
          <td><%=h events['createdBy'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if events['category'] %>
          <td><%=h events['category'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if events['description'] %>
          <td><%=h events['description'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate events, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>


      <% content_for :footer do %>
        <br>
        <h3>Actions</h3>
        <br>

        <% if actions.any? %>

          <table class="secondary">
            <thead>
              <tr>
                <th>Action ID</th>
                <th>Action Type Name</th>
                <th>Created By</th>
                <th>State</th>
                <th>Created Date</th>
              </tr>
            </thead>
            <tbody>
            <% actions.each_with_index do |action, i| %>
              <tr class="<%= i.even? ? 'even' : 'odd ' %>">
              <% if action['actionId'] %>
                <td><%=h action['actionId'] %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <% if action['actionTypeName'] %>
                <td><%=h action['actionTypeName'] %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <% if action['createdBy'] %>
                <td><%=h action['createdBy'] %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <% if action['state'] %>
                <td><%=h action['state'].to_title_case %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <% if action['createdDateTime'] %>
                <td><%=h action['createdDateTime'].to_date %></td>
              <% else %>
                <td>-</td>
              <% end %>
            </tr>
            <% end %>
              </tbody>
            </table>

        <% else %>
          <p id="information"><strong>There are no actions for this case.</strong></p>
        <% end %>
      <% end %>

  <% else %>
    <p id="information"><strong>There are no events for this case.</strong></p>
    <br>
  <% end %>
<% end %>
