<%= erb :menu, locals: { pageid: "addresses" } %>

<% unless authorised?("collect-csos") %>
  <% content_for :breadcrumbs do %>
    <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; Address <%=h uprn_code %>
  <% end %>
<% end %>


<% content_for :sub_heading do %>
  Click a case to create or view questionnaires.
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

  <table class="primary" style="margin-top: 0px; width: 100%">
    <thead>
      <tr>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>Postcode</th>
        <th>Address Type</th>
        <th>Establishment Type</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
      <% if address['line1'].present? %>
          <td><%=h address['line1'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['line2'].present? %>
          <td><%=h address['line2'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['town'].present? %>
          <td><%=h address['town'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['postcode'].present? %>
          <td><%=h address['postcode'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['type'].present? %>
        <td><%=h address['type'].to_address_type %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <% if address['estabType'].present? %>
        <td><%=h address['estabType'] %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
    </tbody>
  </table>

<% content_for :footer do %>
  <h3>Cases</h3>

  <% if cases.any? %>
    <%= will_paginate cases, :class => 'secondarypagination', :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Case Status</th>
          <th>Case Created</th>
          <th>Question Set</th>
          <th>Survey Description</th>
          <th>Sample Name</th>
        </tr>
      </thead>
      <tbody>
      <% cases.each_with_index do |uniqueCase, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h uniqueCase['caseId'] %>"><%=h uniqueCase['caseId'] %></a></td>
        <% if uniqueCase['state'].present? %>
          <td><%=h uniqueCase['state'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% if uniqueCase['createdDatetime'].present? %>
          <td><%=h uniqueCase['createdDatetime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if uniqueCase['questionSet'].present? %>
          <td><%=h uniqueCase['questionSet'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if uniqueCase['surveyDescription'].present? %>
          <td><%=h uniqueCase['surveyDescription'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if uniqueCase['name'].present? %>
          <td><%=h uniqueCase['name'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate cases, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
    <p id="information"><strong>There are no cases for this address.</strong></p>
  <% end %>
<% end %>
