<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li id="active"><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h case_id %>">Case <%=h case_id %></a> &gt; <% if method.eql? :post %>Create Event<% elsif method.eql? :put %>Edit Event<% end %>
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css">
<% end %>

<% content_for :javascript do %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  <script src="/javascripts/questionnaire.js" type="text/javascript"></script>
  <script src="/javascripts/events.js" type="text/javascript"></script>

<% end %>

<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>a
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>

  <fieldset>
    <% if method == :post %>
      <p><label for="eventtext">Description (max 250 characters)</label> <span class="required">*</span></p>
      <% if description_error %>
        <p><span class="required">Description Required</span></p>
      <% end %>
      <textarea rows="4" cols="50" id="eventtext" name="eventtext" maxlength="250" value="<%=h eventtext %>"></textarea>
      <span id="chars">250</span> characters remaining
    <% end %>

    <p><label for="eventcategory">Category</label> <span class="required">*</span></p>
    <p>
      <select id="eventcategory" name="eventcategory">
       <% categories.each do |category| %>
        <% if category['manual'] %>
          <option value='<%=h category['name'] %>'><%=h category['name'] %></option>
        <% end %>
      <% end %>
    </select>
    </p>
  </fieldset>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h case_id %>/event?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/case/<%=h case_id %>"><% end %>Cancel</a>
  </p>
</form>
