<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <li id="active"><a href="/regions">Addresses</a></li>
<% if authorised? %>
  <li><a href="/manage">Manage</a></li>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases">Address <%=h uprn_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/case/<%=h case_id %>/questionnaires/<%=h questionnaire_id %>/iac/<%=h iac %>">Questionnaire <%=h questionnaire_id %></a> &gt; <% if method.eql? :post %>Create Follow-Up<% elsif method.eql? :put %>Edit Follow-Up<% end %>
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css">
<% end %>

<% content_for :javascript do %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  <script src="/javascripts/followup.js" type="text/javascript"></script>
<% end %>

<% if form.failed_on? :contactname %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Contact name is required</p>
  <% end %>
<% end %>

<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>
  <fieldset>
    <p><label for="contactname">Contact Name</label> <span class="required">*</span></p>
    <p><input id="contactname" name="contactname" type="text" size="50" value="<%=h contactname %>"></p>
    <p><label for="type">Type</label> <span class="required">*</span></p>
    <p>
      <select id="type" name="type">
      <% if type.downcase == 'letter' %>
        <option selected="selected">Letter</option>
        <option>Reminder</option>
        <option>Telephone</option>
        <option>Visit</option>
      <% elsif type.downcase == 'reminder' %>
        <option>Letter</option>
        <option selected="selected">Reminder</option>
        <option>Telephone</option>
        <option>Visit</option>
      <% elsif type.downcase == 'telephone' %>
        <option>Letter</option>
        <option>Reminder</option>
        <option selected="selected">Telephone</option>
        <option>Visit</option>
      <% elsif type.downcase == 'visit' %>
        <option>Letter</option>
        <option>Reminder</option>
        <option>Telephone</option>
        <option selected="selected">Visit</option>
      <% end %>
      </select>
    </p>
    <p><label for="priority">Priority</label> <span class="required">*</span></p>
    <p>
      <select id="priority" name="priority">
      <% if priority == 'Low' %>
        <option value="Low" selected="selected">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      <% elsif priority == 'Medium' %>
        <option value="Low">Low</option>
        <option value="Medium" selected="selected">Medium</option>
        <option value="High">High</option>
      <% elsif priority == 'High' %>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High" selected="selected">High</option>
      <% end %>
      </select>
    </p>
    <p><label for="casenotes">Case Notes</label></p>
    <p><textarea id="casenotes" name="casenotes" cols="100" rows="8"><%=h casenotes %></textarea></p>
    <p><label for="language">Language</label></p>
    <p><input id="language" name="language" type="text" size="50" value="<%=h language %>"></p>
    <p><label for="visitdate">Visit Date</label<p>
    <p><input id="visitdate" name="visitdate" type="text" size="50" value="<%=h visit_date %>"> <span style="margin-left: 20px;">Time</span> <input id="visithours" name="visithours" type="text" size="2" value="<%=h visit_hours %>"> : <input id="visitmins" name="visitmins" type="text" size="2" value="<%=h visit_minutes %>"></p>
  </fieldset>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire_id %>?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/case/<%=h case_id %>/questionnaires/<%=h questionnaire_id %>/iac/<%=h iac %>"><% end %>Cancel</a>
  </p>
</form>
