<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
    <li><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li id="active"><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
<a href="/manage">Manage</a> &gt; <a href="/manage/regions">Regions</a> &gt; Region <%=h region_code %>
<% end %>

<% content_for :sub_heading do %>
Click a local authority name to view its MSOAs.
<% end %>

<%= will_paginate local_authorities, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<table class="localauthorities">
  <thead>
    <tr>
      <th class="col1">LA Code</th>
      <th>LA Name</th>
    </tr>
  </thead>
  <tbody>
    <% local_authorities.each_with_index do |local_authority, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd ' %>">
      <td><%=h local_authority['lad12cd'] %></td>
      <td><a href="/manage/regions/<%=h region_code %>/las/<%=h local_authority['lad12cd'] %>/msoas"><%=h local_authority['lad12nm'] %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate local_authorities, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
