<%= erb :menu, locals: { pageid: "addresses" } %>

<% content_for :sub_heading do %>
  Click a questionnaire to create or view follow-ups.
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

<% addresses.each do |address| %>
  <table class="primary" style="margin-top: 0px;">
    <thead>
      <tr>
        <th>UPRN</th>
        <th>Address Type</th>
        <th>Easting</th>
        <th>Northing</th>
        <th>Address Line 1</th>
      </tr>
    </thead>
    <%= erb :address_partial, locals: { address: address } %>
    <%= erb :addresslines_partial, locals: { address: address } %>
  </table>
<% end %>

<% content_for :footer do %>
  <h3>Questionnaires</h3>
  <div id="newquestionnaire">
    <form action="/addresses/<%=h uprn_code %>/questionnaires/new" method="get">
      <input class="button" type="submit" value="Create Questionnaire&hellip;"> or <% if params[:page].present? %><a href="/addresses/<%=h uprn_code %>/questionnaires?page=<%=h params[:page] %>"><% else %><a href="/addresses/<%=h uprn_code %>/questionnaires"><% end %>Refresh</a>
    <% if params[:page].present? %>
      <input type="hidden" name="page" value="<%=h params[:page] %>">
    <% end %>
    </form>
  </div>

  <% if questionnaires.any? %>
    <%= will_paginate questionnaires, :class => 'secondarypagination', :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="secondary">
      <thead>
        <tr>
          <th>Questionnaire ID</th>
          <th>Survey Token</th>
          <th>Form Type</th>
          <th>Form Status</th>
          <th>Receipt Status</th>
          <th>Receipt Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% questionnaires.each_with_index do |questionnaire, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <td><a href="/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>"><%=h questionnaire['questionnaireid'] %></a></td>
        <% if questionnaire['token'] %>
          <td class="surveytoken"><%=h questionnaire['token'] %></td>
        <% else %>
          <td>Not activated</td>
        <% end %>
        <% if questionnaire['questionnaireId'].present? %>
          <td><%=h questionnaire['questionnaireId'].slice(0,2).to_form_type %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['questionSet'].present? %>
          <td><%=h questionnaire['questionSet'].to_form_status %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['state'].present? %>
          <td><%=h questionnaire['state'].to_form_status %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['receiptDateTime'].present? %>
          <td><%=h questionnaire['receiptDateTime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
          <td><% if params[:page].present? %><a href="/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>/edit?page=<%=h params[:page] %>"><% else %><a href="/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>/edit"><% end %>Edit</a></td>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate questionnaires, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
    <p id="information"><strong>There are no questionnaires for this address.</strong></p>
  <% end %>
<% end %>
