<%= erb :menu, locals: { pageid: "addresses" } %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; Review MSOA <%=h msoa_code %>
<% end %>

<% content_for :sub_heading do %>
  Click an Address ID to review follow-up address notes for that address.
<% end %>

<% if addresses.any? %>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% addresses.each do |address| %>
    <table class="primary">
      <thead>
        <tr>
          <th>Address ID</th>
          <th>Address Type</th>
          <th>Establishment Type</th>
          <th>Hard to Count</th>
          <th>Easting</th>
          <th>Northing</th>
          <th>Manager</th>
          <th>Telephone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h address['uprn'] %>/review"><%=h address['uprn'] %></a></td>
        <% if address['addresstype'].present? %>
          <td><%=h address['addresstype'].to_address_type %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['category'].present? %>
          <td><%=h address['category'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['htc'].present? %>
          <td><%=h address['htc'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['eastings'].present? %>
          <td><%=h address['eastings'] %></td>
        <% else %>
          <td-</td>
        <% end %>
        <% if address['northings'].present? %>
          <td><%=h address['northings'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['namemanager'].present? %>
          <td><%=h address['namemanager'].to_title_case %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if address['telnumber'].present? %>
          <td><%=h address['telnumber'].to_phone_number %></td>
        <% else %>
          <td>-</td>
        <% end %>
        </tr>
      </tbody>
      <tbody class="primary">
      <% if address['address_line1'].present? %>
        <tr>
          <td colspan="10"><%=h address['address_line1'].to_title_case %></td>
        </tr>
      <% end %>
      <% if address['address_line2'].present? %>
        <tr>
          <td colspan="10"><%=h address['address_line2'].to_title_case %></td>
        </tr>
      <% end %>
        <tr>
          <td colspan="10"><%=h address['town_name'].to_title_case %></td>
        </tr>
        <tr>
          <td colspan="10"><%=h address['postcode'] %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate addresses, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
<% else %>
  <p id="information"><strong>There are no address notes to view for this MSOA.</strong></p>
<% end %>
