<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li id="active"><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/review">Review MSOA <%=h msoa_code %></a> &gt; Review Address
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/address.js" type="text/javascript"></script>
<% end %>

<% if form.failed_on? :eastings %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Easting is required and must be a 6 character number</p>
  <% end %>
<% end %>

<% if form.failed_on? :northings %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Northing is required and must be a 6 character number</p>
  <% end %>
<% end %>

<% if form.failed_on? :addresstype %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Address type is required for communal establishments and must be a number</p>
  <% end %>
<% end %>

<% if form.failed_on? :estabtype %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Establishment type is required for communal establishments and must be a number</p>
  <% end %>
<% end %>

<% if form.failed_on? :postcode %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Postcode is required</p>
  <% end %>
<% end %>

<% if form.failed_on? :hardtocount %>
  <% content_for :form_errors do %>
    <p class="message">&bull; Hard to count is required</p>
  <% end %>
<% end %>


<form action="<%= action %>" method="post">
<% if method.present? %>
  <input type="hidden" name="_method" value="<%= method %>">
<% end %>
<% if params[:page].present? %>
  <input type="hidden" name="page" value="<%=h params[:page] %>">
<% end %>
<%= erb :addressform_partial, locals: { addresstype: addresstype, eastings: eastings, northings: northings, address_line1: address_line1, address_line2: address_line2,
                                        estabtype: estabtype, hardtocount: hardtocount, town_name: town_name,  postcode: postcode } %>
  <p id="requiredfields"><span class="required">*</span> Required fields</p>
  <p class="buttons">
    <input class="button" type="submit" value="Save"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/review"><% end %>Cancel</a>
  </p>
</form>

<% content_for :footer do %>
  <h3>Follow-Ups</h3>
  <% if follow_ups.any? %>
    <%= will_paginate follow_ups, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
    <table class="followup">
      <thead>
        <tr>
          <th>Contact Name</th>
          <th>Case Notes</th>
          <th>Field Notes</th>
          <th>Address Notes</th>
          <th>Visit Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% follow_ups.each_with_index do |follow_up, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
        <% if follow_up['contactname'].present? %>
          <td><%=h follow_up['contactname'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if follow_up['casenotes'].present? %>
          <td class="multiline"><%=h follow_up['casenotes'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if follow_up['fieldnotes'].present? %>
          <td class="multiline"><%=h follow_up['fieldnotes'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if follow_up['addressnotes'].present? %>
          <td class="multiline"><%=h follow_up['addressnotes'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if follow_up['visittime'].present? %>
          <td><%=h follow_up['visittime'].to_date %></td>
        <% else %>
          <td>-</td>
        <% end %>
          <td>
            <form method="post" action="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/followups/<%=h follow_up['correlationid'] %>/review">
              <input type="hidden" name="_method" value="delete">
            <% if params[:page].present? %>
              <input type="hidden" name="page" value="<%=h params[:page] %>">
            <% end %>
              <input class="button" type="submit" value="Mark As Reviewed">
            </form>
          </td>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= will_paginate follow_ups, :previous_label => '&lt; Prev', :next_label => 'Next &gt;' %>
  <% else %>
    <p id="information"><strong>There are no follow-ups for this questionnaire.</strong></p>
  <% end %>
<% end %>
