<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <li id="active"><a href="/regions">Addresses</a></li>
<% if authorised? %>
  <li><a href="/manage">Manage</a></li>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/regions">Regions</a> &gt; <a href="/regions/<%=h region_code %>/las">Region <%=h region_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas">LA <%=h local_authority_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses">MSOA <%=h msoa_code %></a> &gt; <a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases">Address <%=uprn_code %></a> &gt; Case <%=h caseid %>
<% end %>

<% content_for :sidebar do %>
  <%= erb :googlemaps_partial, locals: { coordinates: coordinates } %>
<% end %>

<% addresses.each do |address| %>
  <table class="address" style="margin-top: 0px;">
    <thead>
      <tr>
        <th>UPRN</th>
        <th>Address Type</th>
        <th>Easting</th>
        <th>Northing</th>
        <th>Address Line 1</th>
        <th>Manager</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <%= erb :address_partial, locals: { address: address } %>
    <%= erb :addresslines_partial, locals: { address: address } %>
  </table>
<% end %>

<table class="questionnaire">
  <thead>
    <tr>
      <th>Case ID</th>
      <th>Case Status</th>
      <th>Case Type</th>
      <th>Case Created</th>
      <th>Sample ID</th>
      <th>Form Type</th>
    </tr>
  </thead>
  <tbody>
  <% cases.each do |uniqueCase| %>
  <tr class="even">
    <td><%=h uniqueCase['caseid'] %></td>
  <% if uniqueCase['caseStatus'].present? %>
    <td><%=h uniqueCase['caseStatus'] %></td>
    <% else %>
      <td>-</td>
    <% end %>
  <% if uniqueCase['casetype'].present? %>
    <td><%=h uniqueCase['casetype'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['createdDatetime'].present? %>
    <td><%=h uniqueCase['createdDatetime'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['sampleid'].present? %>
    <td><%=h uniqueCase['sampleid']  %></td>
  <% else %>
    <td>-</td>
  <% end %>
  <% if uniqueCase['formtype'].present? %>
    <td><%=h uniqueCase['formtype'] %></td>
  <% else %>
    <td>-</td>
  <% end %>
    <td><% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases/<%=h uniqueCase['caseid'] %>/edit?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/cases/<%=h uniqueCase['caseid'] %>/edit"><% end %>Edit</a></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% content_for :footer do %>
  <h3>Questionnaires</h3>
  <div id="newquestionnaire">
    <form action="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires/new" method="get">
      <input class="button" type="submit" value="Create Questionnaire&hellip;"> or <% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires"><% end %>Refresh</a>
    <% if params[:page].present? %>
      <input type="hidden" name="page" value="<%=h params[:page] %>">
    <% end %>
    </form>
  </div>

  <% if questionnaires.any? %>
    <table class="questionnaire">
      <thead>
        <tr>
          <th>Questionnaire ID</th>
          <th>Questionnaire Status</th>
          <th>Dispatch Date</th>
          <th>Form Status</th>
          <th>Receipt Status</th>
          <th>Receipt Date</th>
          <th>IAC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% questionnaires.each_with_index do |questionnaire, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd ' %>">
          <td><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>/iac/<%=h questionnaire['iac'] %>"><%=h questionnaire['questionnaireid'] %></a></td>
        <% if questionnaire['questionnaire_status'] %>
          <td <%=h questionnaire['questionnaire_status'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['questionnaireid'] %>
          <td><%=h questionnaire['questionnaireid'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['dispatchDatetime'] %>
          <td><%=h questionnaire['dispatchDatetime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['responseDatetime'] %>
          <td><%=h questionnaire['responseDatetime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['receiptDatetime'] %>
          <td><%=h questionnaire['receiptDatetime'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if questionnaire['iac'] %>
          <td><%=h questionnaire['iac'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
          <td><% if params[:page].present? %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>/edit?page=<%=h params[:page] %>"><% else %><a href="/regions/<%=h region_code %>/las/<%=h local_authority_code %>/msoas/<%=h msoa_code %>/addresses/<%=h uprn_code %>/questionnaires/<%=h questionnaire['questionnaireid'] %>/edit"><% end %>Edit</a></td>
        </tr>
      <% end %>
        </tbody>
      </table>
  <% else %>
    <p id="information"><strong>There are no questionnaires for this address.</strong></p>
  <% end %>
<% end %>
